<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Export DATEV-CSV</title>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/export/export.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
</head>
<body>
<div th:replace="fragment/navbar :: navbar"></div>

<div class="container">
    <div class="header-section">
        <h1>Export Ihrer Transaktionsdaten</h1>
        <p>Bereiten Sie Ihre Transaktionsdaten für den Export vor. Wählen Sie das gewünschte Format und exportieren Sie Ihre Daten direkt.</p>
    </div>

    <form th:action="@{/export/datev-csv}" method="post">
        <!-- CSRF Token für die Sicherheit, sofern Spring Security verwendet wird -->
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

        <!-- Button zum Auslösen des Exports -->
        <button type="submit" class="btn btn-primary btn-lg mt-3">Exportieren als DATEV-CSV</button>
    </form>

    <form th:action="@{/export/excel}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-success btn-lg mt-3">Exportieren als Excel</button>
    </form>
</div>

<div th:replace="fragment/footer :: footer"></div>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
