<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Footer Fragment</title>
</head>
<body>
<footer class="footer bg-light mt-5" th:fragment="footer">
    <div class="container text-center py-3">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/contact">Kontakt</a></li>
            <li class="list-inline-item"><a href="/privacy">Datenschutz</a></li>
            <li class="list-inline-item"><a href="/terms-of-use">Nutzungsbedingungen</a></li>
            <li class="list-inline-item"><a href="/imprint">Impressum</a></li>
        </ul>
        <p class="text-muted mb-0">CashKontrolleur © 2024. All rights reserved.</p>
    </div>
</footer>
</th:fragment>
</body>
</html>
