<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Private</title>
    <link rel="stylesheet" href="css/footer.css"/>
    <link rel="stylesheet" href="css/private.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
</head>
<body>
<div th:replace="fragment/navbar :: navbar"></div>

<div class="container centered-content">
    <h1 class="mt-3" th:text="|Herzlich Willkommen! Sie sind eingeloggt.|"></h1>

    <form action="/checkout" method="POST" class="w-100">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="btn btn-primary btn-lg mt-3">Jetzt kostenlos starten!</button>
    </form>
</div>

<div th:replace="fragment/footer :: footer"></div>

<script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
